<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="u.ready_wisc" >

    <uses-sdk android:minSdkVersion="11"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="u.ready_wisc.MenuActivity" />
        </activity>

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".DamageReports"
            android:label="@string/app_name"
            android:parentActivityName=".MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="u.ready_wisc.MenuActivity" />
        </activity>

        <activity
            android:name="edu.parkside.cs.checklist.Checklist"
            android:label="@string/title_activity_checklist"
            android:parentActivityName="u.ready_wisc.MenuActivity">
        </activity>
        <activity
            android:name="edu.parkside.cs.checklist.ChecklistItemListView"
            android:label="@string/title_activity_checklist__item_list_view"
            android:parentActivityName="edu.parkside.cs.checklist.Checklist" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.parkside.cs.checklist.Checklist" />
        </activity>
        <activity
            android:name="edu.parkside.cs.checklist.ChecklistItemCreate"
            android:label="@string/title_activity_checklist__item__create"
            android:parentActivityName="edu.parkside.cs.checklist.ChecklistItemListView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.parkside.cs.checklist.ChecklistItemListView" />
        </activity>
        <activity
            android:name="edu.parkside.cs.checklist.ChecklistItemDetail"
            android:label="@string/title_activity_checklist__item__detail"
            android:parentActivityName="edu.parkside.cs.checklist.ChecklistItemListView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.parkside.cs.checklist.ChecklistItemListView" />
        </activity>
        <activity
            android:name="edu.parkside.cs.checklist.ChecklistCreate"
            android:label="@string/title_activity_checklist__kit__create"
            android:parentActivityName="edu.parkside.cs.checklist.Checklist" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.parkside.cs.checklist.Checklist" />
        </activity>
        <activity
            android:name="edu.parkside.cs.checklist.ChecklistCreateItemAdd"
            android:label="@string/title_activity_checklist__create__item__add"
            android:parentActivityName="edu.parkside.cs.checklist.ChecklistCreate" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.parkside.cs.checklist.ChecklistCreate" />
        </activity>


    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>
